*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
            background: #fff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
.nav a {
    margin-top: 20px;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    color: #000;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.register-btn {
    background: #4a56f0;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}


.hero {
    padding: 40px 80px;
}

.hero-title {
    margin-top: 50px;
    text-align: center;
    font-size: 42px;
    color: #1f2fff;
    margin-bottom: 50px;
    line-height: 1.3;
}

.hero-wrapper {
    display: flex;
    gap: 25px;
}

.hero-image {
    width: 40%;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
}

.hero-image img {
    width: 100%;
}


.hero-tags {
    width: 20%;
    background: #4a56f0;
    border-radius: 20px;
    padding: 20px;
}

.hero-tags span {
    display: block;
    border: 1.5px solid #fff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size:14px;
}
.hero-info {
    width: 40%;
    background: #4a56f0;
    border-radius: 20px;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-info p {
    font-size: 20px;
    line-height: 1.6;
}

.consult-btn {
    background: transparent;
    border: 1.5px solid #fff;
    color: #fff;
    padding: 12px 22px;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}
.section-title {
    text-align: center;
    font-size: 36px;
    color: #1f2fff;
    margin: 80px 0;
}

